.flightDetailSection {
    padding: 0 16px;

    .flightDesc {
        color: #464646;
        font-size: 16px;
        font-weight: bold;
    }

    .flighInfo {
        display: flex;
        gap: 2rem;
        margin-top: 32px;

        .airlineInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                width: 50px;
                height: 50px;
            }

            p {
                color: #6f6f6f;
                font-size: 12px;
            }
        }

        .dottedSeparator {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .circle {
                width: 8px;
                height: 8px;
                border: 1px solid #870b1d;
                border-radius: 50%;
            }

            .dottedLine {
                width: 6px;
                height: 100%;
                min-height: 180px;
                border-left: thick dotted #c6c6c6;

                @media screen and (max-width:'480px') {
                    height: calc(100% - 110px);

                }
            }
        }

        .flighTimeLocationWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .flighTimeLocation {
                display: flex;
                align-items: center;
                gap: 1rem;

                @media screen and (max-width:'480px') {
                    flex-direction: column;
                    align-items: flex-start;

                }

                p {
                    color: #464646;
                    font-size: 14px;

                    &.grayText {
                        color: #8d8d8d;
                    }

                    span {
                        &.bold {
                            font-weight: bold;
                        }
                    }
                }



                .seperator {
                    width: 1px;
                    height: 18px;
                    border-left: 1.5px solid #eeeeee;

                    @media screen and (max-width:'480px') {
                        display: none;

                    }
                }
            }
        }


        .extraInfoSection {
            display: flex;
            gap: 1rem;



            .flightDetail {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, auto);
                gap: 0 1rem;
                margin: 16px 0;
                grid-template-areas:
                    'duration flight-type refund'
                    'airplane-type allowed-cargo .'
                    'flight-class rate-class .';

                @media screen and (max-width:'480px') {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(7, auto);
                    grid-template-areas:
                        'duration' 'flight-type' 'refund'
                        'airplane-type' 'allowed-cargo'
                        'flight-class' 'rate-class';
                    gap: 0.8rem;
                }

                .wrapper {
                    display: flex;
                    gap: 1rem;
                    font-size: 12px;

                    &.duration {
                        grid-area: duration;
                    }

                    &.flightType {
                        grid-area: flight-type;
                    }

                    &.refund {
                        grid-area: refund;
                    }

                    &.airplaneType {
                        grid-area: airplane-type;
                    }



                    &.cargo {
                        grid-area: allowed-cargo;
                    }

                    &.flightClass {
                        grid-area: flight-class;
                    }

                    &.rateClass {
                        grid-area: rate-class;
                    }

                    p {
                        color: #464646;

                        &.title {
                            color: #8d8d8d;
                        }
                    }

                }
            }
        }


    }

    .amountSection {
        display: flex;
        font-size: 14px;
        color: #464646;
        align-items: center;
        margin: 8px;

        @media screen and (max-width:'480px') {
            flex-direction: column;
            border: 1px solid #eeeeee;
        }

        div {
            border: 1px solid #eeeeee;
            padding: 8px;
            &:not(:first-child) {
                border-right: none;
            }

            @media screen and (max-width:'480px') {
                border: none;
            padding: 13px 32px;

            }
        }

        .priceDetail {
            display: flex;
            gap: 1rem;

            @media screen and (max-width:'480px') {
                justify-content: space-between;
                width: 100%;
            }
        }

        .amoutWrapper {
            display: flex;
            gap: 1rem;

            @media screen and (max-width:'480px') {
                justify-content: space-between;
                width: 100%;
            }

            .title {
                font-weight: bold;

            }

            .amount {
                color: #1773dc;
                font-weight: bold;

                span {
                    font-weight: normal;
                }
            }
        }
    }
}